<!-- Main Content Section -->

<!-- First Band (Image) -->

<div class="row">
	<div class="col-sm-12">
		<img class="img-responsive" src="http://placehold.it/1200x400/&text=[img]">

		<hr>
	</div>
</div>
<!-- Second Band (Image Left with Text) -->

<div class="row">
	<div class="col-sm-4">
		<img class="img-responsive" src="http://placehold.it/400x300/&text=[img]">
	</div>
	<div class="col-sm-8">
		<h4>This is a content section.</h4>
		<div class="row">
			<div class="col-sm-6">
				<p>A Severe Strain on the Credulity As a method of sending a missile to the higher, and even to the highest parts of the earth's atmospheric envelope, Professor Goddard's rocket is a practicable and therefore promising device. It is when one considers the multiple-charge rocket as a traveler to the moon that one begins to doubt ... for after the rocket quits our air and really starts on its journey, its flight would be neither accelerated nor maintained by the explosion of the charges it then might have left. Professor Goddard, with his "chair" in Clark College and countenancing of the Smithsonian Institution, does not know the relation of action to re-action, and of the need to have something better than a vacuum against which to react ... Of course he only seems to lack the knowledge ladled out daily in high schools. -- New York Times Editorial, 1920</p>
			</div>
			<div class="col-sm-6">
				<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
			</div>
		</div>
	</div>
</div>


<!-- Third Band (Image Right with Text) -->

<div class="row">
	<div class="col-sm-8">
		<h4>This is a content section.</h4>

		<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>

		<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

	</div>
	<div class="col-sm-4">
		<img class="img-responsive" src="http://placehold.it/400x300/&text=[img]">
	</div>
</div>