<div class="row">

	<!-- Side Bar -->
	<div class="col-sm-3">
		<div class="list-group">
			<a class="list-group-item" ui-sref=".page1">Page 1</a>
			<a class="list-group-item" ui-sref=".page2">Page 2</a>
			<a class="list-group-item" ui-sref=".page3">Page 3</a>
			<a class="list-group-item" ui-sref=".page4">Page 4</a>
		</div>
	</div>

	<!-- Content -->
	<div class="col-sm-9">
		<div class="ui-view-wrapper transition-inplace-wrapper">
			<div data-autoscroll="false" class="fade-transition transition-inplace" ui-view>
			</div>
		</div>
	</div>

</div>